*.ipr
*.iws
*.iml
*.class
.idea/*
target/*
pom.xml.*
simpleWebSocketServer/.idea/*
client/.idea/*
simpleWebSocketServer/*.pyc
simpleWebSocketServer/nohup.out
extension/certificates/*
extension/output/*
extension/src/chrome/*
extension/src/firefox/*
extension/src/ie/*
extension/src/safari/*
pluginServer/.idea/*
pluginServer/target/*
